.lh .lh-20 div,.lh .lh-20 h1,.lh .lh-20 h2,.lh .lh-20 h3,.lh .lh-20 h4,.lh .lh-20 h5,.lh .lh-20 h6,.lh .lh-20 li,.lh .lh-20 ol,.lh .lh-20 p,.lh .lh-20 span,.lh .lh-20 ul{
    line-height:20px
}
.lh .lh-20 .grid-50-50 .page{
    padding-bottom:40px;
    padding-top:60px
}
.lh .lh-20 .grid-50-50 .page .left-column-render,.lh .lh-20 .grid-50-50 .page .right-column-render{
    padding-top:20px
}
.lh .lh-20 .profile-text-wrapper{
    padding-top:40px
}
.lh .lh-20 .profile-text-wrapper.empty-profile{
    padding-bottom:0
}
.lh .lh-20 .name.type-two{
    line-height:40px
}
.lh .lh-20 .name.type-one{
    line-height:60px!important
}
.lh .lh-20 .headline.type-two .text{
    line-height:40px!important
}
.lh .lh-20 .headline.type-four{
    min-height:40px!important
}
.lh .lh-20 .hobby .icon,.lh .lh-20 .social-link.type-one,.lh .lh-20 .social-link.type-two .icon{
    min-height:60px
}
.lh .lh-20 .keywords-section.type-one .keyword{
    margin-right:10px;
    min-height:40px!important
}
.lh .lh-20 .headline{
    padding-bottom:20px
}
.lh .lh-20 .headline.type-five{
    padding-bottom:40px
}
.lh .lh-20 .experience-item,.lh .lh-20 .skill-section.type-one .skill{
    padding-bottom:20px
}
.lh .lh-20 .skill-section.type-one.compact .skill,.lh .lh-20 .skill-section.type-two.compact .skill{
    padding-bottom:0
}
.lh .lh-20 .skill-section.type-one.compact .skill-category,.lh .lh-20 .skill-section.type-two.compact .skill-category{
    padding-bottom:20px
}
.lh .lh-20 .graphs.type-two .graph .graph-item{
    height:100px
}
.lh .lh-20 .graphs.type-one .graph .graph-item{
    height:60px
}
.lh .lh-20 .graphs.type-three .graph-value-wrapper{
    height:40px
}
.lh .lh-20 .skill-section.type-one .skill-description-wrapper{
    min-height:20px
}
.lh .lh-20 .skill-section.type-two .skill-description-wrapper{
    min-height:40px
}
.lh .lh-20 .skill-section.compact .skill-description-wrapper{
    min-height:20px
}
.lh .lh-20 .section-wrapper{
    padding-bottom:40px
}
.lh .lh-20 .section-wrapper.experience-section,.lh .lh-20 .section-wrapper.skill-section{
    padding-bottom:20px
}
.lh .lh-20 .ios-section-wrapper .section-wrapper{
    padding:0
}
.lh .lh-20 .ios-section-wrapper .section-right-col>div{
    padding-bottom:20px
}
.lh .lh-20 .grid-25-75.type-one .ios-section-wrapper:not(.no-padding) tbody,.lh .lh-20 .grid-25-75.type-two .ios-section-wrapper:not(.no-padding) tbody{
    display:block;
    padding-bottom:20px
}
.lh .lh-20 .grid-25-75.type-two .ios-section-wrapper .headline,.lh .lh-20 .grid-25-75.type-two .ios-section-wrapper .section-right-col>div{
    padding-bottom:0;
    padding-top:20px
}
.lh .lh-20 .cover-template.text-area,.lh .lh-20 .signature{
    padding-top:20px
}
.lh .lh-20 .headline.type-three .icon{
    top:-3px
}
.fs .template.fs-15 a,.fs .template.fs-15 b,.fs .template.fs-15 del,.fs .template.fs-15 div,.fs .template.fs-15 em,.fs .template.fs-15 ins,.fs .template.fs-15 li,.fs .template.fs-15 mark,.fs .template.fs-15 ol,.fs .template.fs-15 p,.fs .template.fs-15 s,.fs .template.fs-15 small,.fs .template.fs-15 strong,.fs .template.fs-15 sub,.fs .template.fs-15 sup,.fs .template.fs-15 u,.fs .template.fs-15 ul{
    font-size:15px!important
}
.template.fs-15 small {
    color: #27645EFF!important;
    font-size:80%!important
}
.fs .template.fs-15 .headline .background-wrapper .text{
    font-size:inherit
}
.fs .template.fs-15 .headline .background-wrapper{
    font-size:17px!important
}
.fs .template.fs-15 .headline .background-wrapper .icon svg{
    height:17px;
    width:17px
}
.fs .template.fs-15 .headline.type-four .text,.fs .template.fs-15 .headline.type-two .text{
    font-size:20px!important
}
.fs .template.fs-15 .position,.fs .template.fs-15 .publication-name{
    font-size:18px!important
}
.fs .template.fs-15 .company-name,.fs .template.fs-15 .publisher{
    font-size:17px!important
}
.fs .template.fs-15 .date,.fs .template.fs-15 .skill-category-name{
    font-size:13px!important
}
.fs .template.fs-15 .subtitle{
    font-size:14px!important
}
*,:after,:before{
    -webkit-font-feature-settings:"liga" 0;
    font-feature-settings:"liga" 0;
    box-sizing:border-box
}
html{
    font-size:10px;
    margin:0
}
body{
    font-size:14px;
    margin:0
}
.template h1,.template h2,.template h3,.template h4,.template h5,.template h6{
    color:#000
}
.template ol,.template ul{
    padding:0
}
.template span{
    display:inline-block
}
.description span{
    display:inline
}
.description.ql-align-left{
    text-align:left
}
.description.ql-align-center{
    text-align:center
}
.description.ql-align-right{
    text-align:right
}
.description.ql-align-justify{
    text-align:justify
}
.nun-nun .page:after,.nun-nun a,.nun-nun b,.nun-nun del,.nun-nun div,.nun-nun em,.nun-nun h1,.nun-nun h2,.nun-nun h3,.nun-nun h4,.nun-nun h5,.nun-nun h6,.nun-nun i,.nun-nun ins,.nun-nun li,.nun-nun mark,.nun-nun ol,.nun-nun p,.nun-nun s,.nun-nun small,.nun-nun span,.nun-nun strong,.nun-nun sub,.nun-nun sup,.nun-nun td,.nun-nun u,.nun-nun ul{
    font-family:Nunito,sans-serif
}
.nun-nun .signature{
    font-family:Caveat,cursive!important
}
.nun-nun .cover-section .name,.nun-nun .general-info .key,.nun-nun .general-section .key,.nun-nun .general-section .name,.nun-nun .headline,.nun-nun .page:after,.nun-nun .section-title,.nun-nun.web-bubbles .menu .menu-header .name,.nun-nun.web-modern .topbar .topbar-name{
    font-weight:700
}
.nun-nun:not(.web-page) .experience-section .date{
    font-weight:400
}
.nun-nun:not(.web-page) .experience-section .company-name,.nun-nun:not(.web-page) .experience-section .position,.nun-nun:not(.web-page) .experience-section .publication-name,.nun-nun:not(.web-page) .experience-section .publisher{
    font-weight:700
}
.nun-nun.web-page .experience-section .date,.nun-nun.web-page .publication-section .date{
    font-weight:400
}
.nun-nun .graphs.type-one .value,.nun-nun .skill-section .category-name,.nun-nun .skill-section .skill-category-name,.nun-nun .skill-section .skill-description,.nun-nun.web-page .experience-section .position,.nun-nun.web-page .experience-section .publication-name,.nun-nun.web-page .publication-section .position,.nun-nun.web-page .publication-section .publication-name{
    font-weight:700
}
.nun-nun .graphs.type-one .pie-percentage{
    font-weight:400
}
.nun-nun.web-glider .graph-entry .value .number,.nun-nun.web-modern .graph-entry .value .number{
    font-weight:700
}
.nun-nun .graphs.type-two .value .number,.nun-nun.web-glider .graph-entry .value .circle-percentage,.nun-nun.web-modern .graph-entry .value .circle-percentage,.nun-nun.web-sidebar .graph-entry .value .number{
    font-weight:400
}
.nun-nun .graphs.type-two .value .circle-percentage,.nun-nun.web-sidebar .graph-entry .value .circle-percentage{
    font-weight:700
}
.nun-nun .graphs.type-four .graph-value .graph-score,.nun-nun .graphs.type-three .graph-value,.nun-nun .keyword .prefix{
    font-weight:400
}
.nun-nun .rich-text .date,.nun-nun.web-page .more-btn{
    font-weight:700
}
.page{
    background-color:#fff;
    position:relative
}
.page a,.page div,.page h1,.page h2,.page h3,.page h4,.page h5,.page h6,.page li,.page ol,.page p,.page span,.page ul{
    margin-bottom:0;
    margin-top:0
}
.page>.column{
    display:inline-block;
    vertical-align:top
}
.page .bottom-ornament,.page .top-ornament{
    display:none
}
.page a{
    color:inherit;
    text-decoration:none
}
.page a:hover{
    text-decoration:underline
}
.page table{
    border-collapse:collapse;
    border-spacing:0
}
.page td,.page th{
    padding:0
}
.customize-preview .page-wrapper .page{
    box-shadow:1px 1px 1px hsla(0,0%,76%,.5);
    margin-bottom:40px
}
.page-wrapper.numbersShown .outer-page{
    position:relative
}
.page-wrapper.numbersShown .outer-page.multi-page .page:after{
    bottom:26px;
    content:attr(data-part) "/" attr(data-count);
    display:block;
    font-size:13px;
    height:16px;
    left:0;
    line-height:16px;
    position:absolute;
    text-align:center;
    width:100%;
    z-index:1
}
.page-wrapper.isProofreadingPanel .page{
    position:relative
}
.page-wrapper:not(.isProofreadingPanel) .page{
    overflow:hidden
}
.page-wrapper:not(.isProofreadingPanel) .page .note-detail-item{
    display:none
}
.page-wrapper.a4 .page{
    width: 100%;
}
.page-wrapper.letter .page{
    width: 100%;
}
.page-wrapper .linkified,.page-wrapper .linkified:hover{
    color:inherit
}
.general-info-from,.general-info-to,.section-wrapper,.profile-text-wrapper,.rich-text,.rich-text-section{
    position:relative
}
.section-wrapper>:not(.headline){
    color:#3d3d3d
}
.experience-item .company-name,.experience-item .date,.experience-item .position,.experience-item .publication-name,.experience-item .publisher,.experience-item .url a,.keyword,.skill-category-name{
    color:#000
}
.experience-section .date div,.experience-section .date span,.headline div,.headline span,.keyword div,.keyword span{
    font-family:inherit
}
.description{
    white-space:pre-wrap
}
.general-section .name span{
    font-family:inherit;
    font-size:inherit;
    line-height:inherit
}
.experience-item{
    position:relative
}
.experience-item .role.no-date .company{
    width:100%
}
.experience-item .role.no-date .date{
    display:none
}
.experience-item .date-address{
    text-transform:uppercase
}
.thumbnail{
    background-color:transparent;
    border:1px solid #c1c1c1;
    border-radius:4px;
    padding:4px
}
.thumbnail>img{
    height:auto;
    width:100%
}
.keyword{
    display:inline-block;
    margin-right:16px
}
.experience-item .url a{
    color:#000;
    word-break:break-word
}
.experience-item .url a:hover{
    text-decoration:none
}
.skill-wrapper{
    position:relative
}
.skill-name{
    word-wrap:break-word
}
.headline svg{
    display:none
}
.lh-20 div,.lh-20 h1,.lh-20 h2,.lh-20 h3,.lh-20 h4,.lh-20 h5,.lh-20 h6,.lh-20 li,.lh-20 ol,.lh-20 p,.lh-20 span,.lh-20 ul{
    line-height:20px
}
.lh-20 .grid-50-50 .page{
    padding-bottom:40px;
    padding-top:60px
}
.lh-20 .grid-50-50 .page .left-column-render,.lh-20 .grid-50-50 .page .right-column-render{
    padding-top:20px
}
.lh-20 .profile-text-wrapper{
    padding-top:40px
}
.lh-20 .profile-text-wrapper.empty-profile{
    padding-bottom:0
}
.lh-20 .name.type-two{
    line-height:40px
}
.lh-20 .name.type-one{
    line-height:60px!important
}
.lh-20 .headline.type-two .text{
    line-height:40px!important
}
.lh-20 .headline.type-four{
    min-height:40px!important
}
.lh-20 .hobby .icon,.lh-20 .social-link.type-one,.lh-20 .social-link.type-two .icon{
    min-height:60px
}
.lh-20 .keywords-section.type-one .keyword{
    margin-right:10px;
    min-height:40px!important
}
.lh-20 .headline{
    padding-bottom:20px
}
.lh-20 .headline.type-five{
    padding-bottom:40px
}
.lh-20 .experience-item,.lh-20 .skill-section.type-one .skill{
    padding-bottom:20px
}
.lh-20 .skill-section.type-one.compact .skill,.lh-20 .skill-section.type-two.compact .skill{
    padding-bottom:0
}
.lh-20 .skill-section.type-one.compact .skill-category,.lh-20 .skill-section.type-two.compact .skill-category{
    padding-bottom:20px
}
.lh-20 .graphs.type-two .graph .graph-item{
    height:100px
}
.lh-20 .graphs.type-one .graph .graph-item{
    height:60px
}
.lh-20 .graphs.type-three .graph-value-wrapper{
    height:40px
}
.lh-20 .skill-section.type-one .skill-description-wrapper{
    min-height:20px
}
.lh-20 .skill-section.type-two .skill-description-wrapper{
    min-height:40px
}
.lh-20 .skill-section.compact .skill-description-wrapper{
    min-height:20px
}
.lh-20 .section-wrapper{
    padding-bottom:40px
}
.lh-20 .section-wrapper.experience-section,.lh-20 .section-wrapper.skill-section{
    padding-bottom:20px
}
.lh-20 .headline.type-three .icon{
    top:-3px
}
.template.fs-15 a,.template.fs-15 b,.template.fs-15 del,.template.fs-15 div,.template.fs-15 em,.template.fs-15 ins,.template.fs-15 li,.template.fs-15 mark,.template.fs-15 ol,.template.fs-15 p,.template.fs-15 s,.template.fs-15 small,.template.fs-15 strong,.template.fs-15 sub,.template.fs-15 sup,.template.fs-15 u,.template.fs-15 ul{
    font-size:15px!important
}
.template.fs-15 small {
    color: #27645EFF!important;
    font-size:80%!important
}
.template.fs-15 .headline .background-wrapper .text{
    font-size:inherit
}
.template.fs-15 .headline .background-wrapper{
    font-size:17px!important
}
.template.fs-15 .headline .background-wrapper .icon svg{
    height:17px;
    width:17px
}
.template.fs-15 .headline.type-four .text,.template.fs-15 .headline.type-two .text{
    font-size:20px!important
}
.template.fs-15 .position,.template.fs-15 .publication-name{
    font-size:18px!important
}
.template.fs-15 .company-name,.template.fs-15 .publisher{
    font-size:17px!important
}
.template.fs-15 .date,.template.fs-15 .skill-category-name{
    font-size:13px!important
}
.template.fs-15 .subtitle{
    font-size:14px!important
}
.experience-description span,.rich-text-area span{
    font-size:inherit
}
.custom-empty:before{
    color:transparent
}
.headline{
    align-items:flex-end;
    box-sizing:content-box;
    display:flex
}
.headline.no-icon{
    padding-left:30px
}
.headline .icon{
    position:relative
}
.headline .icon.bold{
    bottom:-2px
}
.headline .background-wrapper .icon.fixed svg{
    height:14px;
    width:14px
}
.headline.type-four .background-wrapper,.headline.type-two .background-wrapper{
    align-items:center;
    display:flex
}
.headline.type-three{
    padding-left:30px;
    position:relative
}
.headline.type-three .icon{
    left:0;
    position:absolute;
    top:-4px
}
.headline .icon{
    align-items:center;
    display:inline-flex;
    height:24px;
    justify-content:center;
    margin-right:6px;
    min-height:24px;
    min-width:24px;
    width:24px
}
.headline .icon svg{
    display:block
}
.avatar{
    width:120px
}
.avatar .thumbnail{
    background:transparent;
    border:none;
    height:120px;
    padding:0;
    width:120px
}
.avatar img{
    height:120px;
    object-fit:cover;
    width:120px
}
.general-section.no-avatar ol,.general-section.no-avatar ul{
    margin-left:16px
}
.letter .grid-100-center.type-one .page{
    padding-left:42px;
    padding-right:64px
}
.grid-100-center.type-one .page{
    padding-left:32px;
    padding-right:52px
}
.grid-100-center.type-one .headline{
    padding-left:162px
}
.grid-100-center.type-one .headline .icon{
    margin-right:12px
}
.grid-100-center.type-one .graphs:not(.type-four),.grid-100-center.type-one .hobbies,.grid-100-center.type-one .keywords,.grid-100-center.type-one .rich-text-area,.grid-100-center.type-one .social-links-wrapper{
    padding-left:198px
}
.grid-100-center.type-one .experience-item,.grid-100-center.type-one .experience-section.type-three .experience-item{
    display:flex
}
.grid-100-center.type-one .experience-item .left-column-render,.grid-100-center.type-one .experience-section.type-three .experience-item .left-column-render{
    display:inline-block;
    max-width:150px;
    min-width:150px;
    padding-right:0;
    text-align:right;
    vertical-align:top
}
.grid-100-center.type-one .experience-item .right-column-render,.grid-100-center.type-one .experience-section.type-three .experience-item .right-column-render{
    display:inline-block;
    padding-left:48px
}
.grid-100-center.type-two .page{
    padding-left:36px;
    padding-right:40px
}
.experience-info .date,.skill-category-name{
    letter-spacing:1px
}
.skill-category-name{
    text-transform:uppercase
}
.experience-section.type-three .experience-item .left-column-render{
    display:inline-block;
    padding-right:16px;
    text-align:right;
    width:160px
}
.experience-section.type-three .experience-item .right-column-render{
    display:inline-block;
    padding-left:16px;
    position:relative;
    vertical-align:top;
    width:526px
}
.experience-section.type-three .experience-item .company-name,.experience-section.type-three .experience-item .date,.experience-section.type-three .experience-item .position,.experience-section.type-three .experience-item .publication-name,.experience-section.type-three .experience-item .publisher{
    color:#000
}
.skill-section.type-one .skill{
    display:inline-flex;
    flex-direction:column;
    padding-right:8px;
    vertical-align:bottom
}
.skill-section.type-one .skill .skill-description:not(.text) div i{
    border:1px solid #000;
    box-sizing:border-box;
    display:inline-flex;
    height:13px;
    margin-right:4px;
    vertical-align:bottom;
    width:13px
}
.skill-section.type-one .skill .skill-description:not(.text) div i.active{
    background:#000
}
.skill-section.type-one.b .skill-wrapper{
    display:flex
}
.skill-section.type-one.b .skill-wrapper .skill-category-name{
    display:inline-flex;
    justify-content:flex-end;
    max-width:144px;
    min-width:144px;
    vertical-align:top
}
.skill-section.type-one.b .skill-wrapper .skills{
    display:inline-flex;
    flex-grow:1;
    flex-wrap:wrap;
    padding-left:32px
}
.skill-section.type-one.b .skill-wrapper .skills .skill{
    width:33.33%
}
.social-link.type-one-b{
    align-items:center;
    display:inline-flex
}
.social-link.type-one-b .icon{
    align-items:center;
    display:flex;
    height:35px;
    justify-content:center;
    width:35px
}
.social-link.type-one-b .icon svg{
    width:30px
}
.social-link.type-one-b .description{
    flex:1 1;
    padding-left:10px;
    padding-right:16px;
}
.template.lisi4ok .page{
    padding-bottom:26px;
    padding-top:26px
}
.template.lisi4ok ol,.template.lisi4ok ul{
    margin-left:16px
}
.template.lisi4ok .section-wrapper{
    position:relative;
    z-index:2
}
.template.lisi4ok .section-wrapper:before{
    background:#c1c1c1;
    content:"";
    height:100%;
    left:173px;
    position:absolute;
    top:20px;
    width:1px;
    z-index:-1
}
.template.lisi4ok .profile-text-wrapper{
    position:relative;
    z-index:2
}
.template.lisi4ok .profile-text-wrapper:before{
    background:#c1c1c1;
    content:"";
    height:calc(100% + 13px);
    left:173px;
    position:absolute;
    top:50px;
    width:1px;
    z-index:-1
}
.template.lisi4ok .profile-text-wrapper .headline .icon{
    position:relative
}
.template.lisi4ok .profile-text-wrapper .headline .icon:before{
    background:#fff;
    content:"";
    height:7px;
    left:0;
    position:absolute;
    top:-7px;
    width:100%;
    z-index:1
}
.template.lisi4ok .general-section{
    position:relative
}
.template.lisi4ok .general-section .headline{
    text-align:left
}
.template.lisi4ok .general-section .avatar{
    display:inline-flex;
    justify-content:center;
    min-width:168px;
    padding-top:16px
}
.template.lisi4ok .general-section .avatar img{
    border-radius:50%
}
.template.lisi4ok .general-section .name{
    color:#808626;
    font-size:35px;
    line-height:40px
}
.template.lisi4ok .general-section.no-avatar .avatar .initials{
    background-color:#808626;
    border-radius:50%;
    height:120px;
    padding-top:25px;
    position:relative;
    width:120px
}
.template.lisi4ok .general-section.no-avatar .avatar .initials .body{
    height:70px;
    margin-left:auto;
    margin-right:auto;
    position:relative;
    width:70px
}
.template.lisi4ok .general-section.no-avatar .avatar .initials .body .first-line{
    background:#fff;
    height:1px;
    position:absolute;
    top:35px;
    width:100%
}
.template.lisi4ok .general-section.no-avatar .avatar .initials .body .first,.template.lisi4ok .general-section.no-avatar .avatar .initials .body .second{
    color:#fff;
    font-size:30px;
    left:0;
    line-height:35px;
    position:absolute;
    text-align:center;
    width:100%
}
.template.lisi4ok .general-section.no-avatar .avatar .initials .body .first{
    top:-5px
}
.template.lisi4ok .general-section.no-avatar .avatar .initials .body .second{
    top:40px
}
.template.lisi4ok .general-section .general-info-section{
    display:flex;
    width:100%
}
.template.lisi4ok .general-section .general-info-section .general-info-wrapper{
    flex-grow:1;
    padding-left:26px;
    padding-top:26px
}
.template.lisi4ok .general-section .general-info-section .general-info-wrapper .general-info-block{
    display:flex;
    flex-wrap:wrap;
    padding-top:26px
}
.template.lisi4ok .general-section .general-info-section .general-info-wrapper .general-info-block .info-wrapper{
    display:inline-flex;
    margin-right:16px
}
.template.lisi4ok .general-section .general-info-section .general-info-wrapper .general-info-block .info-wrapper .key{
    padding-right:8px
}
.template.lisi4ok .headline{
    color:#808626
}
.template.lisi4ok .headline .icon{
    fill:#fff;
    background:#000;
    border-radius:50%
}
.template.lisi4ok .experience-info .position,.template.lisi4ok .publication-name{
    position:relative
}
.template.lisi4ok .experience-info .position:before,.template.lisi4ok .publication-name:before{
    background:#000;
    border-radius:50%;
    content:"";
    height:8px;
    left:-28px;
    position:absolute;
    top:5px;
    width:8px
}
.template.lisi4ok .graphs.type-four .graph .graph-value .graph-progress-bar .graph-progress{
    background:#808626
}
.template.lisi4ok .graphs.type-four .graph .graph-value .graph-progress-bar:before{
    background:#c1c1c1
}
.template.lisi4ok .graph-score{
    position:relative
}
.template.lisi4ok .graph-score:after{
    background:#000;
    border-radius:50%;
    content:"";
    height:8px;
    position:absolute;
    right:-28px;
    top:5px;
    width:8px
}
.template.lisi4ok .rich-text-area ol,.template.lisi4ok .rich-text-area ul{
    margin-left:16px
}
.template.lisi4ok .social-link{
    display:inline-flex;
    width:32%
}
.template.lisi4ok .social-link svg{
    fill:#808626
}
.template.lisi4ok .skill-wrapper{
    display:flex;
    width:100%
}
.template.lisi4ok .skill-wrapper .skill-category-name{
    max-width:150px;
    min-width:150px;
    padding-top:0;
    position:relative;
    text-align:right;
    word-break:break-word
}
.template.lisi4ok .skill-wrapper .skill-category-name:after{
    background:#000;
    border-radius:50%;
    content:"";
    height:8px;
    position:absolute;
    right:-28px;
    top:5px;
    width:8px
}
.template.lisi4ok .skill-wrapper .skills{
    padding-left:48px;
    width:100%
}
.template.lisi4ok .skill-wrapper .skills .skill{
    width: 32%
}
.template.lisi4ok .skill-section.type-one .skill .skill-description:not(.text) div i{
    background:#c1c1c1;
    border:none;
    height:6px;
    vertical-align:middle;
    width:25px
}
.template.lisi4ok .skill-section.type-one .skill .skill-description:not(.text) div i.active{
    background:#808626
}
.template.lisi4ok.grn-whi .page{
    background-color:#fff
}
.template.lisi4ok.grn-whi .section-wrapper:before,.template.lisi4ok.grn-whi .profile-text-wrapper:before{
    background:#c1c1c1
}
.template.lisi4ok.grn-whi .profile-text-wrapper .headline .icon:before{
    background:#fff
}
.template.lisi4ok.grn-whi .general-section .name{
    color:#369188
}
.template.lisi4ok.grn-whi .general-section.no-avatar .avatar .initials{
    background-color:#369188
}
.template.lisi4ok.grn-whi .general-section.no-avatar .avatar .initials .body .first-line{
    background:#fff
}
.template.lisi4ok.grn-whi .general-section.no-avatar .avatar .initials .body .first,.template.lisi4ok.grn-whi .general-section.no-avatar .avatar .initials .body .second{
    color:#fff
}
.template.lisi4ok.grn-whi .headline{
    color:#369188
}
.template.lisi4ok.grn-whi .headline .icon{
    fill:#fff
}
.template.lisi4ok.grn-whi .graphs.type-four .graph .graph-value .graph-progress-bar .graph-progress{
    background:#369188
}
.template.lisi4ok.grn-whi .graphs.type-four .graph .graph-value .graph-progress-bar:before{
    background:#c1c1c1
}
.template.lisi4ok.grn-whi .hobby svg,.template.lisi4ok.grn-whi .social-link svg{
    fill:#369188
}
.template.lisi4ok.grn-whi .skill-section.type-one .skill .skill-description:not(.text) div i{
    background:#c1c1c1
}
.template.lisi4ok.grn-whi .skill-section.type-one .skill .skill-description:not(.text) div i.active{
    background:#369188
}
.cv-wrapper{
    align-items:center;
    background:transparent;
    display:flex;
    flex-direction:column
}
.cv-wrapper:not(.withWrapper){
    padding-top:20px
}
.cv-wrapper .page-wrapper{
    height:100%
}
.cv-wrapper .page-wrapper .page{
    box-shadow:1px 2px 20px rgba(0,0,0,.1);
    margin-bottom:40px
}
.cv-wrapper .page-wrapper .page:first-child{
    margin-top:40px
}

@media print {
    @page {
        margin: 0
    }
    .customize-preview .page-wrapper .page{
        box-shadow: none;
        margin-bottom:0px
    }
    .cv-wrapper .page-wrapper .page{
        box-shadow: none;
        page-break-after: always;
        margin-bottom:0px
    }
}